.home {
  background: var(--primary-color);
  min-height: calc(100vh - 60px);
  height: calc(100vh - 60px);
  display: flex;
}

.home-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sorting {
  min-height: 8vh;
  height: fit-content;
  width: 85%;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -2px,
    rgba(0, 0, 0, 0.3) 0px 3.25px 7.5px -3.25px,
    rgba(10, 37, 64, 0.35) 0px -0.25px 0.75px 0px inset;
  align-items: center;
  justify-content: space-around;
}

.sorting .dropdown {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset,
    rgb(204, 219, 232) -3px -3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) 3px 3px 6px 1px inset;
}

.sorting .dropdown select {
  outline: none;
  border: none;
  background: transparent;
  width: 85%;
  height: 100%;
  color: #f79f1f;
  font-weight: 700;
  font-size: 1rem;
}

.red-label {
  color: red;
}

.green-label {
  color: green;
}

.blue-label {
  color: #5f27cd;
}

.sorting .level {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
}

.questions {
  height: 70vh;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 85%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -4px,
    rgba(0, 0, 0, 0.3) 0px 7.5px 15px -7.5px,
    rgba(10, 37, 64, 0.35) 0px -0.5px 1.5px 0px inset;
}

.home-sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ques-head {
  width: 100%;
  height: 8vh;
  display: flex;
  background: #34495e;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom: 1px solid white;
}

.ques-main {
  height: 65vh;
  overflow: scroll;
}

.ques-head .hp {
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ques-head .srno {
  width: 10%;
  border-top-left-radius: 18px;
  border-right: 1px solid white;
}

.ques-head .ques {
  width: 33%;
  border-right: 1px solid white;
}

.ques-head .algo {
  width: 30%;
  border-right: 1px solid white;
}

.ques-head .level {
  width: 33%;
  border-top-right-radius: 18px;
}
