.question-card {
  height: 50px;
  width: 100%;
  display: flex;
  background: #006266;
  border-bottom: 1px solid white;
  color: white;
}

.question-card .hp {
  padding: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-card .que-srno {
  width: 10%;
  border-right: 1px solid white;
}

.question-card .que-ques {
  width: 33%;
  border-right: 1px solid white;
}

.question-card .que-algo {
  width: 30%;
  border-right: 1px solid white;
}

.question-card .que-level {
  width: 33%;
}
