.question-card {
  height: 50px;
  width: calc(100%);
  display: flex;
  background: #006266;
  border-bottom: 1px solid white;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.question-card .hp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.question-card .que-srno {
  width: calc(10%);
  border-right: 1px solid white;
}

.question-card .que-ques {
  width: calc(33%);
  border-right: 1px solid white;
}

.question-card .que-algo {
  width: calc(30%);
  border-right: 1px solid white;
}

.question-card .que-level {
  width: calc(33%);
}
