.question-card {
  height: 120px;
  width: 97%;
  /* border: 1px solid black; */
  margin: 10px;
  display: flex;
  padding: 2px 15px;
  flex-direction: column;
  /* color: whitesmoke; */
  justify-content: center;
  transition: 1s;
  
}

.question-card:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.question-card h3 {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.ques-title{
  line-height:4px;
}

.ques-title p span{
  color: green;
  font-weight: 700;
}
