.vid-card-head {
  height: 50px;
  display: flex;
  border-bottom: 1px solid #222;
}

.vid-card-head .srno {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid-card-head .video-link {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
